name: CICD

env:
  MIN_SUPPORTED_RUST_VERSION: "1.45.0"
  CICD_INTERMEDIATES_DIR: "_cicd-intermediates"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  min_version:
    name: Minimum supported rust version
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Install rust (nightly) toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Build debug release
        uses: actions-rs/cargo@v1
        with:
          command: Build

      - name: Run simple STDIN tests
        run: |
          - seq 100 | ./target/debug/ustat
          - ./target/debug/ustat <(seq 100) <(seq 100)
